/* static/styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #dc5a5a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.pair {
    font-weight: bold;
}
